<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{course.course_title}} {{ course.section }} Students</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>
    <h1>Students List for {{ course.course_title }} {{ course.section }}</h1>
    <p>{{ course.teacher.first_name }} {{ course.teacher.last_name }}</p>
    <p>{{ course.schedule_day }} {{ course.start_time }} - {{ course.end_time }}</p>
    <p>{{ course.room.room_name }}</p>
    {% if students %}
    <table border="1">
        <thead>
            <tr>
                <th>ID Number</th>
                <th>Name</th>
                <th>Gbox</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.student_id }}</td>
                <td>{{ student.first_name }} {{ student.last_name }}</td>
                <td>{{ student.user.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div>No enrolled students at the moment.</div>
    {% endif %}
    <br>
    {% comment %} <ul>
        {% for student in students %}
            <li>
                {{ student.student_id }} {{ student.first_name }} {{ student.last_name }}          
            </li>
        {% empty %}
            <li>No student enrolled.</li>
        {% endfor %}
    </ul> {% endcomment %}
    <button class="btn" onclick="add_student_modal.showModal()"
        hx-get = "{% url 'addstudent' course.course_id %}"
        hx-target = "#add_student_content"
        hx-trigger = "click">
        Add Student/s
    </button>

    <button class="btn" onclick="drop_student_modal.showModal()"
        hx-get = "{% url 'deletestudent' course.course_id %}"
        hx-target = "#drop_student_content"
        hx-trigger = "click">
        Drop Student/s
    </button><br>
    
    <br>
    <span><a href = "{% url 'adminrooms' %}">Rooms</a></span><br>
    <span><a href = "{% url 'admincourses' %}">Courses</a></span><br>
    <span><a href = "{% url 'admin:index' %}" target="_blank">Admin Hub</a></span><br>
    <span><a href = "{% url 'nfcuid' %}">NFC UID</a></span><br>
    <br>

    <span><a href = "{% url 'logout' %}">Logout</a></span>

<!-- Open the modal using ID.showModal() method -->
<dialog id="add_student_modal" class="modal">
    <div id = "add_student_content" class="modal-box">

    </div>
    <form method="dialog" class="modal-backdrop">
    
    </form>
</dialog>

<!-- Open the modal using ID.showModal() method -->
<dialog id="drop_student_modal" class="modal">
    <div id = "drop_student_content" class="modal-box">

    </div>
    <form method="dialog" class="modal-backdrop">
    
    </form>
</dialog>

{% block page_js %}
<script>
document.addEventListener("DOMContentLoaded", function () {
  // Select all modals
  const modals = document.querySelectorAll(".modal");

  modals.forEach((modal) => {
    modal.addEventListener("click", function (event) {
      // Check if clicked target is NOT inside the modal-box
      if (!event.target.closest(".modal-box")) {
        modal.close(); // Close only the clicked modal
      }
    });
  });
});
</script>

<script>
  document.addEventListener("htmx:beforeSwap", function (e) {
      if (e.detail.target.classList.contains("forms") && !e.detail.xhr.response){
          location.reload();
      }
  })
</script>
{% endblock %}
</body>
</html>