<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{course.course_title}} {{ course.section }} Attendance</title>
</head>
<body>
    <h1>Attendance for {{course.course_title}} {{ course.section }}</h1><br>
    <br>
    <a href="{% url 'addstudent' course.course_id %}">Add a Student</a><br>
    <a href="{% url 'deletestudent' course.course_id %}">Drop a Student</a><br>
    <br>
    <span><a href = "{% url 'adminrooms' %}">Rooms</a></span><br>
    <span><a href = "{% url 'admincourses' %}">Courses</a></span><br>
    <span><a href = "{% url 'admin:index' %}" target="_blank">Admin Hub</a></span><br>
    <br>
    <span><a href = "{% url 'logout' %}">Logout</a></span>
</body>
</html>