<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete a Course</title>
</head>
<body>
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == "error" %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% else %}
    <div class="alert alert-success" role="alert">
      {{ message }}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}

    <h2>Course Deletion</h2>
    {% if courses %}
    <table border="1">
        <thead>
            <tr>
                <th>Course Code</th>
                <th>Section</th>
                <th>Course Title</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
            <tr>
                <td>{{ course.course_code }}</td>
                <td>{{ course.section }}</td>
                <td>{{ course.course_title }}</td>
                <td>
                    <form method="post" action="{% url 'deletecoursebutton' course.course_id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" onclick="return confirmDelete('{{ course.course_code }} {{ course.section }}');">
                            Delete
                        </button>
                    </form> 
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div>No course available</div>
    {% endif %}
    <br>
    {% comment %} <ul>
        {% for course in courses %}
            <li>
                <a href="{% url 'courseattendance' course.course_id %}">{{ course.course_code }} {{ course.section }}</a>
                <form method="post" action="{% url 'deletecoursebutton' course.course_id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" onclick="return confirmDelete('{{ course.course_code }} {{ course.section }}');">
                        Delete
                    </button>
                </form>
            </li>
        {% empty %}
            <li>No courses available.</li>
        {% endfor %}
    </ul><br> {% endcomment %}

    <script>
        function confirmDelete(course_details) {
            return confirm("Are you sure you want to delete course " + course_details + "?");
        }
    </script>
</body>
</html>