<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
    <center>
      <h1>ADNU Attendance</h1>
        {% for message in messages %}
            <p id = "messages">{{message}}</p>
        {% endfor %}
      <form method = "post" action = "">
          {% csrf_token %}

            <input type="text" name="username" placeholder="ID Number..." class="form-control"><br>
            <input type="password" name="password" placeholder="Password..." class="form-control"><br>
            <br>
            <button type = "submit">Sign In</button>
            <br>
            No account? <a href="{% url 'initial' %}">Click to Start Registration</a>
    </form>
    </center>
</body>
</html>